.my-button {
    background-color: c9184a; 
    color: #ffffff;      
    border: none;         
    padding: 10px 20px;    
    border-radius: 5px;
    cursor: pointer;     
}

.my-button:hover {
    background-color: #800f2f;
}
